<div class="home_container">

  <app-card
    gameCover="assets/hzd.jpg"
    gameLabel="DIGITAL"
    gameType="Digital PS4"
    gamePrice="$100"
  >
  </app-card>

  <app-card
    gameCover="assets/tlou.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC PS5"
    gamePrice="$150"
  >
  </app-card>


  <app-card
    gameCover="assets/ls.jpg"
    gameLabel="FREE"
    gameType="DESKTOP"
    gamePrice="$0"
  >
  </app-card>

  <app-card
    gameCover="assets/hb.jpg"
    gameLabel="NEW"
    gameType="VR"
    gamePrice="$50"
  >
  </app-card>

  <app-card
    gameCover="assets/hb.jpg"
    gameLabel="NEW"
    gameType="VR"
    gamePrice="$50"
  >
  </app-card>

</div>


