/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: 0;
}

body{
  background: rgb(254,176,0);
background: linear-gradient(96deg, rgba(254,176,0,1) 0%, rgba(255,255,255,1) 35%, rgba(0,255,246,1) 100%);
}
